<div class="btn-grafico-container">
    <div class="fundo-btn">
        <button class="btn-grafico-ant" (click)="prevMonth()">
            <img class="menu" src="assets/icons/arrow_back.svg">
        </button>
    </div>
    <div class="fundo-btn-prox">
        <button class="btn-grafico-prox" (click)="nextMonth()">
            <img class="menu" src="assets/icons/arrow_forward.svg">
        </button>
    </div>
    <div class="fundo">
        <div class="container-grafico">
            <p-chart class="grafico" type="bar" [data]="data" [options]="options" height="50vh"></p-chart>
        </div>
    </div>
</div>
