<div style="width: 100%; display: flex; justify-content: center;">
<div class="container-menu">
    <div class="layout-menu">
        <button class="btn-menu" (click)="toggleVisibility()" [disabled]="isLoading">
            <img class="menu" [src]="getIcon()" alt="Ressaca">
        </button>
    </div>
    <div class="menu-list" [ngClass]="{'visible': isVisible}">
        <a [routerLink]="['/home']" [ngClass]="{'active': isActive('/home')}" class="btn-menu-itens">
            <img class="menu" src="assets/icons/home.svg" alt="Ressaca">
            <span>Home</span>
        </a>
        <a [routerLink]="['/saude']" [ngClass]="{'active': isActive('/saude')}" class="btn-menu-itens">
            <img class="menu" src="assets/icons/hospital-24.png" alt="Ressaca">
            <span>Saúde</span>
        </a>
        <a [routerLink]="['/seguranca']" [ngClass]="{'active': isActive('/seguranca')}" class="btn-menu-itens">
            <img class="menu" src="assets/icons/police-25.png" alt="Ressaca">
            <span>Segurança</span>
        </a>
        <a [routerLink]="['/educacao']" [ngClass]="{'active': isActive('/educacao')}" class="btn-menu-itens">
            <img class="menu" src="assets/icons/educação-24.png" alt="Ressaca">
            <span>Educação</span>
        </a>
        <a [routerLink]="['/infraestrutura']" [ngClass]="{'active': isActive('/infraestrutura')}" class="btn-menu-itens">
            <img class="menu" src="assets/icons/edifícios-da-cidade-24.png" alt="Ressaca">
            <span>Infraestrutura</span>
        </a>
    </div>
</div>
</div>