app-dashboard{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}
app-menu-bar-layout{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #f5f5fa !important;
    box-sizing: border-box;
}

