<div class="body">
    <div class="fundo">
        <div class="container">
            <article class="title">
                <p>Por favor, classifique o serviço prestado na área de saúde usando o sistema de estrelas abaixo. Cada estrela representa a sua
                    experiência.</p>
            </article>
            <article class="cabecario">
                <p>Escala de avaliação:</p>
                <p>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <span>(1 estrela) - Péssimo</span>
                </p>
                <p class="text">
                    • O serviço não atendeu às minhas expectativas de forma alguma.
                </p>
                <p>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <span>(2 estrelas) - Ruim</span>
                </p>
                <p class="text">
                    • O serviço foi abaixo do esperado, com várias falhas.
                </p>
                <p>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <span>(3 estrelas) - Normal</span>
                </p>
                <p class="text">
                    • O serviço atendeu às minhas necessidades, mas poderia ser melhor.
                </p>
                <p>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star_border</mat-icon>
                    <span>(4 estrelas) - Bom</span>
                </p>
                <p class="text">
                    • O serviço foi bom, com apenas pequenas áreas de melhoria.
                </p>
                <p>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <mat-icon class="icon">star</mat-icon>
                    <span>(5 estrelas) - Ótimo</span>
                </p>
                <p class="text">
                    • O serviço superou minhas expectativas em todos os aspectos.
                </p>
            </article>
            <p>N°1)- Em uma escala de 1 a 5, como você avaliaria a qualidade do atendimento recebido pelos profissionais de saúde?</p>
            <article class="quest">
                <article class="rating">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]= 'value1'>
                        @for (season of seasons; track season) {
                        <mat-radio-button class="example-radio-button" [value]= 1 ></mat-radio-button>
                        }
                    </mat-radio-group>
                    <app-star></app-star>
                </article>
            </article>
            <article class="quest">
                <p>N°2)-Como você classificaria o tempo de espera para ser atendido?</p>
                <article class="rating">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
                        [(ngModel)]="value2">
                        @for (season of seasons; track season) {
                        <mat-radio-button class="example-radio-button" [value]= 2 ></mat-radio-button>
                        }
                    </mat-radio-group>
                    <app-star></app-star>
                </article>
            </article>
            <article class="quest">
                <p>N°3)-Em uma escala de 1 a 5, como você avaliaria a clareza das informações fornecidas sobre seu tratamento ou condição? </p>
                <article class="rating">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
                        [(ngModel)]="value3">
                        @for (season of seasons; track season) {
                        <mat-radio-button class="example-radio-button" [value]= 3 ></mat-radio-button>
                        }
                    </mat-radio-group>
                    <app-star></app-star>
                </article>
            </article>
            <article class="quest">
                <p>N°4)-Qual a sua avaliação sobre a infraestrutura e o conforto das instalações (salas de espera, consultórios, etc.)?</p>
                <article class="rating">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
                        [(ngModel)]="value4">
                        @for (season of seasons; track season) {
                        <mat-radio-button class="example-radio-button" [value]= 4 ></mat-radio-button>
                        }
                    </mat-radio-group>
                    <app-star></app-star>
                </article>
            </article>
            <article class="quest">
                <p>N°5)-De maneira geral, como você avaliaria sua experiência com os serviços de saúde recebidos?</p>
                <article class="rating">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group"
                        [(ngModel)]= "value5">
                        @for (season of seasons; track season) {
                        <mat-radio-button class="radio-button" [value]= 5 ></mat-radio-button>
                        }
                    </mat-radio-group>
                    <app-star></app-star>
                </article>
            </article>
        </div>
    </div>
    <div class="btn">
        <div
            style="background-color: #f5f5fa;
            display: flex; 
            justify-content: center; 
            padding: 8px; 
            border-radius: 12px; 
            margin-bottom: 2vh;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
            <button class="btn-send" type="submit" (click)="openDialog()">Enviar</button>
        </div>
    </div>
</div>